<mat-sidenav-container >
    <mat-sidenav #sidebarLeft mode="side" opened role="navigation">
      <mat-nav-list>
        <div class="sidebar-left">
          <div style="display: flex; justify-content: center; margin-bottom: 1.5rem" class="">
            <div>
              <img style="border: 2px solid #c823f1" class="rounded-circle" src="assets/user.png" width="65px" alt="">
            </div>
          </div>
          <div id="dashboard" class="nav">
            <a routerLink="/estimate/my-estimate">
              <div class="wrapper-link-sidebar">
                <div>
                  Devis
                </div>
              </div>
            </a>
            <a routerLink="/my-delivery" disabled = "true" >
              <div class="wrapper-link-sidebar">
                <div>
                  Commandes
                </div>
              </div>
            </a>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div id="main-content-customer">
        <section style="margin-top: 1rem" class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </section>
      </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
  