<ng-container *ngIf="estimate">
  <h2>
    Detail devis n°{{estimate.estimateNumber}}
  </h2>

  <!-- <ng-container> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 card businessCard" style="flex-direction: row; flex-grow: 3 1 3;">
        <div *ngIf="estimate.customer" class="col-md-6 col-xs-12 float-md-left">
          <div>
            <h5>Client</h5>
          </div>
          <div *ngIf="estimate.customer?.lastname || estimate.customer?.firstname"><b>Nom : {{estimate.customer?.lastname}} {{estimate.customer?.firstname}}</b></div>
          <div *ngIf="estimate.customer?.username"><b>Raison social: {{estimate.customer?.username}}</b></div>
          <div *ngIf="estimate.customer.addresses[0]?.street"><b>Adresse:</b> {{estimate.customer.addresses[0].street}}</div>
          <div *ngIf="estimate.customer.addresses[0]?.city"><b>Ville:</b> {{estimate.customer.addresses[0].city}}</div>
          <div *ngIf="estimate.customer.addresses[0]?.zipcode"> <b>Code postal:</b> {{estimate.customer.addresses[0].zipcode}}</div>
          <div *ngIf="estimate.customer.phone"><b>Telephone:</b> <a style="text-decoration: none" href="tel:{{estimate.customer.phone}}"> {{estimate.customer.phone}} </a></div>
          
          <div layout="row">
            <hr flex/>
            <div>
              <h5>Information livraison</h5>
              <div *ngIf="estimate.customer.addresses[0]?.street"><a
                (click)="linkToAddresses('' + estimate.customer.addresses[0].street + ', ' + estimate.customer.addresses[0].zipcode + ' ' + estimate.customer.addresses[0].city)">
                {{estimate.customer.addresses[0].street}}, {{estimate.customer.addresses[0].zipcode}} {{estimate.customer.addresses[0].city}}</a></div>
                <div *ngIf="estimate.distanceMeter"><b>Distance:</b> {{estimate.distanceMeter}} Km</div>
                <div *ngIf="estimate.date"><b>Date de création:</b> {{ estimate.date.date | date : "dd.MM.yyyy à hh:mm" }}</div>
                <div *ngIf="estimate.dateEstimated"><b>Date de livraison prévue:</b> {{ estimate.dateEstimated.date | date : "dd.MM.yyyy à hh:mm" }}</div>
            </div>
            <hr flex/>
          </div>

          <div>
            <h5>Recapitulatif montant</h5>
            <div *ngIf="estimate.delivery_cost"><b>Cout de la livraison:</b> {{(estimate.delivery_cost.toFixed(2)}} €</div>
            <div *ngIf="estimate.amount"><b>Montant:</b> {{ (estimate.amount.toFixed(2)) }} €</div>
            <div *ngIf="estimate.totalAmount"><b>Total:</b> {{ (estimate.totalAmount.toFixed(2)) }} €</div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- </ng-container> -->
</ng-container>


