<section class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Se Connecter</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Mail" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mot de passe" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Se connecter" />
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>
        <div class="col-md-6 login-form-2">
            <img src="" alt="">
        </div>
    </div>
</section>

