<section class="footer mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
              <div>
                <h5 class="font-large">Être en avance sur tout le monde ?</h5>
              </div>
              <div>
                <p>
                  <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>C'est là ! Newsletter</mat-label>
                    <input matInput type="text" name="username" placeholder="Placeholder">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                  </mat-form-field>
                </p>
              </div>
            </div>
          <div class="border-left col-md-6">
            <div>
              <h5  class="font-large">FAST-IT</h5>
            </div>
            <div>
              28 Allée Ampère, 74300 Cluses
            </div>
            <div>
              contact@fast-it.fr
            </div>
          </div>
          <!--<div class="border-left col-md-4">
            <div>
              <h5 class="font-large">Devenir Collaborateur ?</h5>
            </div>
            <div>
              <span class="material-icons">phone</span>04.50.98.88.88.88
            </div>
            <div>
              6 rue des Fleurs, 74300 Cluses
            </div>
            <div>
              info@fast-eat.fr
            </div>
          </div>-->
        </div>
      <div class="row">
        <div class="col-md-12 text-center">
          @ Tous droits réservés !
        </div>
      </div>
    </div>
</section>
