<h2>
    Liste des devis
</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Numéro de devis</th>
        <th>Nom du client</th>
        <th>Date de création</th>
        <th>Date de livraison</th>
        <th>Montant</th>
        <th>Status</th>
        <!-- <th>Notification</th> -->
      </tr>
    </thead>
    <tbody *ngIf="estimates">
      <tr class="order" *ngFor="let estimate of estimates" routerLink="/estimate/detail-estimate/{{estimate.estimateNumber}}" >
        <td>{{ estimate.estimateNumber }}</td>
        <td *ngIf="estimate.customer?.username || estimate.customer?.lastname else elseBlock">{{ estimate.customer.username }}{{ estimate.customer.lastname }}</td>
        <ng-template #elseBlock><td></td></ng-template>
        <td>{{ estimate.date.date | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ estimate.dateEstimated.date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ estimate.amount.toFixed(2) }}</td>
        <td>
          <div [ngSwitch]="estimate.isPayed">
            <span *ngSwitchCase="false || null" class="badge badge-alert">
              En attente de paiement
            </span>
            <span *ngSwitchCase="true" class="badge badge-info">
              Payé
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
