<!-- Pro -->
<mat-tab-group color="warn" mat-align-tabs="center">
  <mat-tab label="Professionel">
    <form class="mt-3" [formGroup]="proForm" (ngSubmit)="sendEstimate('professional')">
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            formControlName="proDevis"
            placeholder="Numero de devis"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>receipt</mat-icon>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            formControlName="proName"
            placeholder="Nom de la societe"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>apartment</mat-icon>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <div class="form-group">
        <p>
          
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            formControlName="proAddress"
            (onAddressChange)="handleAddressChange($event)"
            autocomplete="off"
            type="text"
            id="locate-me"
            ngx-google-places-autocomplete
            [options]='options'
            #placesRef="ngx-places"
            placeholder="Adresse"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>apartment</mat-icon>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            formControlName="proCity"
            placeholder="Ville"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>apartment</mat-icon>
          </mat-form-field>
        </p>
      </div>
        <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            formControlName="proZipCode"
            placeholder="Code Postal"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>apartment</mat-icon>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline">
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="email" formControlName="proMail" placeholder="Email">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" floatLabel="always">
            <!-- <mat-label>Numero de telephone</mat-label> -->
            <input matInput type="tel" formControlName="proPhone" placeholder="Exemple: 06...">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </p>
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width"  appearance="outline" floatLabel="always">
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput type="date" formControlName="proDateEstimated" placeholder="Date de livraison estimée">
          </mat-form-field>
        </p>
      </div>
      <div class="form-group">
        <p>
            <mat-radio-group formControlName="proTimeSlot">
              <mat-radio-button value="AM">Matin</mat-radio-button>
              <mat-radio-button value="PM">Apres-Midi</mat-radio-button>
            </mat-radio-group>
        </p>
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            (onAddressChange)="calculAmountChange($event, true)"
            formControlName="proAmount"
            placeholder="Montant"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>euro</mat-icon>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <hr>
      <div class="align-row">
        <hr>
        <div style="display: flex" class="col-md-6">
          <div style="flex: 1">Frais de service</div>
          <div>0.80 €</div>
        </div>
      </div>
      <div class="align-row">
        <hr>
        <div style="display: flex" class="col-md-6">
          <div style="flex: 1">TOTAL</div>
          <div>
            {{ (totalAmountPro.toFixed(2)).replace('.', ',') }} €
          </div>
        </div>
      </div>
      <hr>
      <!-- <button mat-raised-button [disabled]="loading" color="primary" (click)= "sendEstimate('professional')"> -->
      <button mat-raised-button [disabled]="loading" color="primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Envoyer devis
        <mat-icon>send</mat-icon>
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
    </form>
  </mat-tab>


<!-- Client -->


  <mat-tab label="Client">
    <form class="mt-3" [formGroup]="customerForm" (ngSubmit)="sendEstimate('customer')">
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            formControlName="customerDevis"
            placeholder="Numero de devis"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>receipt</mat-icon>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            formControlName="customerLastName"
            placeholder="Nom"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            formControlName="customerFirstName"
            placeholder="Prénom"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            formControlName="customerAddress"
            (onAddressChange)="handleAddressChange($event, true)"
            autocomplete="off"
            type="text"
            id="locate-me"
            ngx-google-places-autocomplete
            [options]='options'
            #placesRef="ngx-places"
            placeholder="Adresse"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>apartment</mat-icon>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            formControlName="customerCity"
            placeholder="Ville"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>apartment</mat-icon>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            formControlName="customerZipCode"
            placeholder="Code Postal"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>apartment</mat-icon>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline">
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="email" formControlName="customerMail" placeholder="Email">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" floatLabel="always">
            <!-- <mat-label>Numero de telephone</mat-label> -->
            <input matInput type="tel" formControlName="customerPhone" placeholder="Exemple: 06...">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </p>
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width"  appearance="outline" floatLabel="always">
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput type="date" formControlName="customerDateEstimated" placeholder="Date de livraison estimée">
          </mat-form-field>
        </p>
      </div>
      <div class="form-group">
        <p>
          <!-- <mat-form-field class="full-width"  appearance="outline" floatLabel="always"> -->
            <!-- <mat-label>Choose a date</mat-label> -->
            <mat-radio-group formControlName="customerTimeSlot" id="gui">
              <mat-radio-button value="AM">Matin</mat-radio-button>
              <mat-radio-button value="PM">Apres-Midi</mat-radio-button>
            </mat-radio-group>
          <!-- </mat-form-field> -->
        </p>
      </div>
      <div class="form-group">
        <p>
          <mat-form-field class="full-width" appearance="outline" >
            <!-- <mat-label>Email</mat-label> -->
            <input matInput type="text"
            formControlName="customerAmount"
            (onAddressChange)="calculAmountChange($event, true)"
            placeholder="Montant"/>
             <!-- [errorStateMatcher]="matcher" -->
            <mat-icon matSuffix>euro</mat-icon>
          </mat-form-field>
        </p>
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>-->
      </div>
      <hr>

      <div class="row">
        <div class="col-md-6">
        </div>
        <hr>
        <div style="display: flex" class="col-md-6">
          <div style="flex: 1">Frais de service</div>
          <div>0.80 €</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <hr>
        <div style="display: flex" class="col-md-6">
          <div style="flex: 1">TOTAL</div>
          <div>
            {{ (totalAmountCustomer.toFixed(2)).replace('.', ',') }} €
          </div>
        </div>
      </div>
      <hr>

      <!-- <button mat-raised-button [disabled]="loading"  type="button" (click)="sendEstimate('customer')" color="primary"> -->
        <button mat-raised-button [disabled]="loading" color="primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Envoyer devis 
        <mat-icon>send</mat-icon>
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
    </form>
  </mat-tab>
</mat-tab-group>




