<section style="padding: 1rem">
    <header class="modal-header">
      <h1 class="text-success text-center">Récupération de la commande :) </h1>
    </header>
    <div class="modal-body pb-0">
      <p style="color: black;font-style: italic; font-size: small" >{{confirmationMessage}}</p>
      <!-- <div style="padding-bottom: .5rem; text-align: center; color: red; font-size: x-large">
        <span style="display: block; padding-bottom: .5rem">CODE POUR LE LIVREUR</span>
        <span>{{ infos.code }}</span>
      </div> -->
      <div class="modal-footer">
        <button class="mr-2" (click)="onResponseDeliverer(true)" mat-raised-button color="primary">Récuperer la commande</button>
        <button (click)="onResponseDeliverer(false)"  mat-raised-button color="warn">En preparation</button>
      </div>
    </div>
  </section>
  