<h2>
  Liste des commandes effectuées
</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Numéro de commande</th>
        <th>Destinataire</th>
        <th>Date</th>
        <th>Heure</th>
        <th>Cout de la livraison</th>
      </tr>
    </thead>
    <ng-container *ngIf="deliverer">
      <tbody *ngIf="deliverer">
        <tr *ngFor="let order of deliverer.orders" >
          <ng-container *ngIf="order">
            <td>{{ order.noOrder }}</td>
            <ng-container *ngIf="order.business">
              <td >{{ order.business.name }}</td>
            </ng-container>
            <td *ngIf="!order.business"> </td>
            <td>{{ order.date_delivered.date | date: 'dd/MM/yyyy' }}</td>
            <td>{{ order.date_delivered.date | date: 'HH:mm' }}</td>
            <td>{{ order.delivery_cost / 100 }}</td>
          </ng-container>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>

