<div class="modal-header">
  <h1>Conditions générales de ventes</h1>
</div>
<div class="modal-body">
  <p>-Le client devra s’assurer de l’exactitude des informations données notamment ces infos personnels, mail, tel et adresse de livraison souhaitée.
    <br>
    - la livraison se fera au pied de l’immeuble ou devant la porte extèrieur.
    <br>
    - Le livreur repartira après 10 min d’attente sur place.
    <br>
    Si la livraison ne peut s’effectuer du fait d’une erreur sur les infos de livraison, de l’absence du client pour réceptionner le colis ou de la non-réponse à la sollicitation par Fastitpieces, elle sera considérée comme réalisée et facturée, le client ne pourra prétendre à quelconque remboursement, avoir ou re-livraison, Il devra alors payer à nouveau les frais de livraisons pour recevoir son colis ou retirer la pièce en Boutique.
    <br>
    Tout colis endommagé devra être contesté devant le livreur immédiatement à réception de celui-ci et ceci après ouverture du colis. S’il est accepté le client ne pourra effectuer de réclamation ultérieure des dégâts causés sur les pieces reçus.

    Les pieces électriques présentant des traces de montages, ne seront pas reprises.

    Toutes pieces reprises par ABPIECESAUTO, dans son emballage d’origine sans traces de montage, proprement re-conditionnée pour être remise en rayon, ne pourra se faire qu’en magasin uniquement, et donnera droit à un avoir et non à un remboursement.</p>
</div>
<div class="modal-footer">
  <button mat-raised-button color="primary" (click)="modalActive.close()">OK</button>
</div>
