<h2>
    Liste des commandes en cours
</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Numéro de commande</th>
        <th>Restaurant</th>
        <th>Date</th>
        <th>Heure</th>
        <th>Cout de la livraison</th>
        <th>Status</th>
        <!-- <th>Notification</th> -->
      </tr>
    </thead>
    <tbody *ngIf="orders">
      <tr class="order" *ngFor="let order of orders" routerLink="/delivery/detail-delivery/{{order.id}}" >
        <td>{{ order.id }}</td>
        <td *ngIf="order.business.name">{{ order.business.name }}</td>
        <td *ngIf="!order.business.name"> </td>
        <td>{{ order.date.date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ order.date.date | date: 'HH:mm' }}</td>
        <td>{{ order.delivery_cost / 100 }}</td>
        <td>
          <!-- <span matBadge="{{getLibelleStatus(order.status)}}" matBadgePosition="before" matBadgeColor="accent">
          </span> -->
          <div [ngSwitch]="order.status">
            <!-- <span *ngSwitchCase="fastEatConst.status.WAITING_TAKING_BY_DELIVER " class="badge badge-warning"> -->
            <span>  En prépation
            </span>
            <!-- <span *ngSwitchCase=" fastEatConst.status.ORDER_ROUTING " class="badge badge-info"> -->
            <span> En cours d'acheminement
            </span>
            <!-- <span *ngSwitchCase="fastEatConst.status.ORDER_CLOSED_WITH_SUCCESS || fastEatConst.status.ORDER_ROUTING " class="badge badge-success"> -->
            <span> Livré
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
