<section class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <div style="width: 100%; display: flex; justify-content: center">
        <div>
          <img src="assets/logo-fastit.jpg" width="200" height="200" alt="logo fast eat">
        </div>
      </div>
      <h1 class="text-center" style="font-size: 11rem; margin-bottom: 5rem !important;">404</h1>
      <h2 style="font-size: xx-large" class="text-center">PAGE INTROUVABLE</h2>
      <h3 class="text-center" style="font-size: xx-large"><a routerLink="/home">Page d'accueil</a></h3>
    </div>
  </div>
</section>

