$color-text-primary: #c55a27;

.align-items-center {
  align-items: center!important;
}

.d-md-flex {
  display: flex !important;
  justify-content: space-between !important;

}
.card-title {
  font-size: x-large !important;
  position: relative;
  font-weight: 600;
  margin-bottom: 10px;
}
.card-subtitle {
  font-weight: 300;
  margin-bottom: 10px;
  color: #a1aab2;
}

.font-xx-large {
  font-size: xx-large !important;
}
.font-x-large {
  font-size: x-large !important;
}

h1, h3 {
  color: $color-text-primary !important;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #3e5569;
}


.comment-widgets {
  position: relative;
  margin-bottom: 10px;
}

.font-medium {
  font-weight: 600;
}

h6 {
  font-size: .875rem;
}

.label-primary {
  background-color: #7460ee;
}

.label-primary {
  background-color: #7460ee;
}

.label {
  padding: 3px 10px;
  line-height: 13px;
  color: #fff;
  font-weight: 400;
  border-radius: 2px;
  font-size: 75%;
}

.rating-stars {
  color: #ffec0a;
  font-size: large;
}

tr.pd-top-bottom-1 td {
  padding: 1rem 0;
}


table.table {
  text-align: center;
}

.card {
  border: none;
  box-shadow: 3px 3px 20px rgba(0,0,0,0.04);
}
