<div class="col-md-12 ">
  <div class="wrapper-form">
    <div style="width: 100%; display: flex; justify-content: center">
      <div>
        <img src="assets/logo-fastit.png" width="200" height="200" alt="logo fast it">
      </div>
    </div>

    <div class="content"> 
      <app-home-features></app-home-features>  
    </div>
  </div>
</div>

<!-- 
<section class="home-section">
  <header style="width: 100%; height: 100%; background: rgba(0,0,0, 0.5)" class="container-fluid home">
    <h1 style="color: white; font-size: xx-large;font-family: 'Raleway', sans-serif;" class="text-center mb-2">Votre devis</h1>
    <div class="wrapper mt-2">
      <div class="content" style="padding: 0.2rem">
        <div class="input-group">
          <mat-form-field class="full-width" appearance="outline" floatLabel="never">
              <mat-label>00185</mat-label>
              <input matInput
                     autocomplete="off"
                     type="text"
                     id="my-devis"
                     [options]='options'
                     (onAddressChange)="handleAddressChange($event)"
              >
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline" floatLabel="never">
              <!-- <mat-label>mecanic@example.fr</mat-label> -- >
              <input matInput
                     autocomplete="off"
                     type="text"
                     id="mail-me"
                     [options]='options'
                     (onAddressChange)="handleAddressChange($event)"
              >
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
        </div>
      </div>
    </div>
    <div style="text-align: center; width: 100%" class="">
      <button (click)="goto()"  mat-raised-button color="primary">Rechercher</button>
    </div>
  </header>
</section> -->

<app-footer></app-footer>



